/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  inline-size: var(--page-width);
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-normal);
  color: black;
  background-image: repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #e7e7e7, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  border: var(--main-border);
  margin: 100px 0px;
  padding-block: clamp(7.5rem, 7.324rem + 0.75vw, 8rem);
  padding-inline: clamp(0.875rem, -1.469rem + 10vw, 7.531rem);
  font-family: var(--accent-font) ;
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
}

.header__title {
  font-size: var(--font-size-header-title);
  margin-block-end: 20px;
}

.header__subtitle {
  font-size: var(--font-size-header-subtitle);
}

.card-article {
  background-color: #FFFFFF;
  font-family: var(--main-font), sans-serif;
  margin-block-end: 50px;
}

.card__title {
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  padding-block: 5px;
  padding-inline: 10px;
  font-size: var(--font-size-medium);
  border: var(--main-border);
}

.card__content {
  position: relative;
  border-inline-start: var(--main-border);
  border-inline-end: var(--main-border);
}

.card__image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: 95%;
}

.filter-grayscale {
  filter: grayscale(50%) opacity(90%);
}

.filter-saturate {
  filter: saturate(300%);
}

.filter-hue {
  filter: hue-rotate(35deg);
}

.filter-shadow {
  filter: drop-shadow(15px 15px 15px tomato);
}

.filter-opacity {
  filter: opacity(75%);
}

.filter-blur {
  filter: blur(5px);
}

.filter-multi {
  filter: hue-rotate(30deg) blur(1px) opacity(70%) brightness(80%) saturate(200%) grayscale(20%);
}

.card__logo {
  position: absolute;
  z-index: 1;
  inset-inline-end: clamp(0.813rem, 0.548rem + 1.13vw, 1.563rem);
  inset-block-start: 25px;
  font-family: var(--accent-font);
  font-size: var(--font-size-small);
  color: rgba(0, 0, 0, 0.5);
  text-shadow:
    -1px 0 var(--stroke-color),
    0 1px var(--stroke-color),
    1px 0 var(--stroke-color),
    0 -1px var(--stroke-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .card__logo {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.card__content-text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
  border: var(--main-border);
}

.card__paragraph {
  font-size: var(--font-size-medium);
  line-height: 1.165;
}

.card__button {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: flex-end;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
  inline-size: 39px;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border: var(--main-border);
  }

.card__like-button {
  border: var(--main-border);
  background: none;
  inline-size: 130px;
  block-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-small);
}

.save__button-wrapper {
  display: flex;
  justify-content: center;
  margin-block-end: 100px;
}

.save__button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: var(--main-border);
  padding-block: 15px;
  padding-inline: 20px;
}

@media (width > 375px) {
  .save__button {
    flex-direction: row;
  }

  .save__icon {
    block-size: 21px;
    inline-size: 21px;
  }
}

.save__dialog {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  row-gap: 30px;
  column-gap: 20px;
  inline-size: var(--dialog-width);
  align-items: center;
  padding: 30px;
}

.dialog__text {
  text-transform: uppercase;
  line-height: 1.5;
}

.save__dialog:not([open]) {
  pointer-events: none;
  display: none;
} 

.save__dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

.save__dialog .save__icon {
  block-size: 39px;
    inline-size: 39px;
}

.close__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: var(--main-border);
  grid-column: span 2;
  font-family: var(--accent-font);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  text-align: center;
  padding-block: 12.5px;
}

.styled__button {
  position: relative;
  overflow: hidden;
  background-color: var(--main-btn-color);
}

.styled__button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-btn-color);
  transition: 0.3s ease;
}

.styled__button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: black;
  transform-origin: left center;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  
}

.styled__button:hover::before {
  transform: translateX(0);
  mix-blend-mode: difference;
  color: black;
  background-color: #fff;
}

.hidden {
  display: none;
}